<article class="hide-on-med-and-down">
    <section id="image-post">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="/static/images/posts/cancelar-evento.jpg"/>
                </li>
            </ul>
        </div>
    </section>
</article>
<article id="post" class="container">
    <div class="post-container">
        <div class="post-content card-panel col s12 m8 offset-m2">
          <header>
              <h3>Aprenda já o que fazer se tiver que cancelar um evento</h3>
          </header>
          <article>
            <p>
                Que imprevistos acontecem, todos nós já sabemos. Caso isso ocorra com você, produtor de eventos, seja porque o Corpo de Bombeiros embargou o alvará de funcionamento, um dos fornecedores cancelou o contrato no último instante, seja porque uma tempestade impediu o acesso ao local que seria ao ar livre, não se desespere!
            </p>
            <p>
                Você precisa manter a calma para cancelar o evento e tomar as providências necessárias para <strong>minimizar</strong> os danos.
            </p>
            <p>
                Quando o evento é pago, a situação é um pouco mais delicada, mas com as dicas dadas aqui, você vai conseguir tirar de letra sem sair com a imagem prejudicada pelo ocorrido e ainda vai usar uma situação infeliz como oportunidade de mostrar um ótimo serviço ao cliente.
            </p>
            <p>
                Vamos lá?
            </p>
          </article>
          <article>
            <h4>Informe os interessados</h4>
            <p>
                Em primeiro lugar, se não há como contornar o imprevisto e o cancelamento do evento é obrigatório, pare com as vendas imediatamente e apure o que ocorreu para impedir sua realização. Com base nisso, construa uma justificativa para os envolvidos.
            </p>
            <p>
                Os compradores de ingressos são a sua prioridade. Comunique-se diretamente com eles e de maneira <strong>ágil</strong>. Acredite! <strong>Quanto mais cedo você notificar o público, menor será o dano.</strong> O produtor do evento deverá informar ainda os patrocinadores e a equipe de trabalho contratada.
            </p>
            <p>
                Se o imprevisto se deu com certo tempo de antecedência, melhor para você, que vai conseguir gerenciar com mais tranquilidade essa comunicação. Mas, como a lei de Murphy às vezes é implacável e o cancelamento pode ser dar horas antes de o evento acontecer, utilize o tempo disponível para informar seu público pelos canais usados na divulgação.
            </p>
            <p>
                Você pode até mandar um e-mail, mas não confie somente nesse recurso, pois ele pode cair na caixa de spam ou nem ser aberto em tempo hábil. As redes sociais são a melhor forma, por permitir compartilhamento instantâneo.
            </p>
            <p>
                <strong><u>Dica esperta:</u></strong> Seja honesto! Hoje é muito fácil checar as informações e usar de mentiras ou desculpas pode fazer o problema maior do que realmente é.
            </p>
            <p>
                No caso dos eventos pagos, os participantes ficam ansiosos por saber como receberão o reembolso. Não os deixe sem informações, mesmo que ainda não tenha traçado um plano para ressarci-los ou para mudança de data, fale sobre o cancelamento. Eles não vão gostar de comparecer até o local e serem surpreendidos de terem de voltar para casa.
            </p>
          </article>

          <article>
            <h4>Repense o evento</h4>
            <p>
                Agora, é hora de refletir sobre os próximos passos. É possível adiar o evento ao invés de cancelá-lo? A atração e o local têm disponibilidade para outra data? No caso de problemas de ordem legal, dá para solucionar as sanções impostas? Você conta com os recursos necessários para planejar essa mudança?
            </p>
            <p>
                O produtor de eventos pode oferecer a opção de transferência do ingresso aos interessados, mas cabe a eles decidir se querem. Eles podem preferir ser restituídos.
            </p>
          </article>

          <article>
            <h4>Seja claro sobre os valores e datas!</h4>
            <p>
                Se o evento será executado em vários dias (congressos, festivais, etc) e apenas um deles foi cancelado, é possível emitir um reembolso proporcional ao valor daquele dia.
            </p>
            <p>
                Após ter desempenhado o que era necessário para informação e solução do problema, reflita sobre o que poderia ter sido evitado ou o que dá para fazer diferente na próxima vez para evitar que ocorra novamente.
            </p>
            <p>
                Não deixe que uma experiência ruim te desanime. Ter que cancelar um evento é uma situação que nenhum organizador quer passar, mas feito de forma aberta e responsável, pode ser uma experiência construtiva para a realização de um evento futuro.
            </p>
          </article>

          <article>
            <p>
                Já precisou cancelar um evento? Qual foi o motivo? Deixe nos comentários a sua experiência.
            </p>
            <p>
                Se quiser receber mais conteúdos como esse, cadastre-se <strong><a href="/cadastro">aqui</a></strong>.
            </p>
          </article>

        </div>

    </div>

</article>
<div class="footer">
    <div class="container center">
        <h4 class="white-text"><strong>ASSINE!</strong> Receba nosso conteúdo em primeira mão e arrase no seu evento!</h4>
        <div class="row">
            <button class="btn-large waves-effect white black-text" ng-click="fazerCadastro()">CADASTRE-SE GRÁTIS</button>
        </div>
    </div>
</div>