<article class="hide-on-med-and-down">
    <section id="image-post">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="/static/images/posts/6passos5.jpg"/>
                </li>
            </ul>
        </div>
    </section>
</article>
<article id="post" class="container">
    <div class="post-container">
        <div class="post-content card-panel col s12 m8 offset-m2">
          <header>
              <h3>Como não ter prejuízo com o evento da sua empresa</h3>
          </header>
          <article>
            <p>
                Seu evento pode ter sido um sucesso perante o público e os parceiros, mas ainda assim causar uma grande dor de cabeça. Isso acontece se houver descuido de uma parte que muitas pessoas acham chato e monótono, mas é, na verdade, primordial em seu planejamento: as finanças.
            </p>
            <p>
                A dica inicial é colocar todos os gastos na ponta do papel, desde os custos para trazer o conteúdo que você deseja passando pela comunicação, pela estrutura e pelos materiais utilizados no evento.
            </p>
            <p>
                O diferencial é que um evento bem planejado terá os gastos estipulados com maior precisão e será menor o risco de imprevistos virarem problemas para o caixa da sua empresa.
            </p>
            <p>
                Se o seu evento for pago pelos participantes, é importante ter em mente cenários onde a adesão é maior ou menor do que o estimado, planejando os seus gastos e assumindo riscos calculados.
            </p>
            <p>
                Para realizar o planejamento financeiro do seu evento, é necessário o entendimento de dois conceitos:
            </p>
          </article>
          <article>
            <h4>Custos variáveis</h4>
            <p>
               São gastos que você precisará arcar independente da variação no número de participantes. Por exemplo, o custo de um palestrante para o seu evento terá um valor fixo, porque o seu serviço ou deslocamento não tem relação com a taxa de participantes.
            </p>
            <p>
                O mesmo acontece com a locação de um espaço: depois de realizar a reserva com antecedência, o valor a ser desembolsado será o mesmo com maior ou menor número de participantes do que estipulado, a não ser que você decida trocar o local do evento (o que provavelmente causaria um grande transtorno).
            </p>
          </article>

          <article>
            <h4>Como calcular o custo do evento?</h4>
                <p>
                    Perceba que é possível calcular os gastos totais do seu evento, assim como o custo para cada participante. Note também que, quanto mais participantes, o custo variável de cada um deles se manterá, enquanto o custo fixo será menor, pois será dividido por mais pessoas.
                </p>
                <p>
                    Com esses valores em mãos, você poderá estipular um valor de ingresso para cada participante visando diminuir os seus gastos ou até gerar receita para a sua empresa.
                </p>
                <p>
                    Para definir o preço a ser cobrado, sugerimos estimar cenários com menos ou mais participantes, para os quais você terá diferentes valores de custo por participante. Assim, você consegue prever cenários realistas, pessimistas e otimistas, definindo uma média preço mais adequado ao seu evento.
                </p>
          </article>

          <article>
            <h4>Comunique!</h4>
                <p>
                    Também é importante considerar a percepção de valor que o seu público tem sobre o evento, o que está diretamente ligado com a comunicação. Isso pode fazer com que o seu público ache o valor cobrado muito caro, se não conseguir perceber o valor agregado. Por outro lado, existe a possibilidade de cobrança de um valor mais alto, caso o seu evento seja supervalorizado pelo seu público.
                </p>
                <p>
                    Nós preparamos uma planilha de precificação de eventos que pode ser usada em qualquer situação. Você pode baixá-la <strong><a href="/home">aqui</a></strong>!
                </p>
                <p>
                    Por último, mas não menos importante, você vai conhecer o último texto da série que traz algumas práticas para ajudar na viabilização do seu evento se o dinheiro for um problema.
                </p>
                <p>
                    O que mais você faz para cuidar das finanças do seu evento? Conta aqui nos comentários!
                </p>
          </article>

          <article>
            <p>
                Para receber mais dicas como essa cadastre-se <strong><a href="/cadastro">aqui</a></strong> e continue acompanhando nosso blog!
            </p>
          </article>
        </div>

    </div>

</article>
<div class="footer">
    <div class="container center">
        <h4 class="white-text"><strong>ASSINE!</strong> Receba nosso conteúdo em primeira mão e arrase no seu evento!</h4>
        <div class="row">
            <button class="btn-large waves-effect white black-text" ng-click="fazerCadastro()">CADASTRE-SE GRÁTIS</button>
        </div>
    </div>
</div>