<article class="hide-on-med-and-down">
    <section id="image-post">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="/static/images/posts/6passos4.jpg"/>
                </li>
            </ul>
        </div>
    </section>
</article>
<article id="post" class="container">
    <div class="post-container">
        <div class="post-content card-panel col s12 m8 offset-m2">
          <header>
              <h3>Como tirar o evento da sua empresa do papel</h3>
          </header>
          <article>
            <p>
                Se você tem um bom conteúdo no seu evento e um público empolgado com a sua proposta, está no caminho certo! Agora, é preciso cuidado para que a sua ideia aconteça conforme o planejado e evitando aqueles terríveis “problemas técnicos”.
            </p>
          </article>
          <article>
            <h4>Espaço</h4>
            <p>
                O primeiro passo para que seu evento saia do papel é definir o local onde ele ocorrerá. Seja bastante criterioso com o número de pessoas que vão participar, pois não há nada pior do que um lugar apertado cheio de gente ou filas quilométricas para cadastramento na entrada.
            </p>
            <p>
                Em contrapartida, um grande espaço vazio pode dar a impressão de que ele não foi tão interessante quanto esperado, além de gerar um peso no seu orçamento.
            </p>
            <p>
                Você também ganha pontos por cuidar da climatização e do conforto das pessoas (xô, calor!). Lembre-se de tomar cuidado com espaços abertos, pois você estará sujeito às condições climáticas. Um dia de muito sol ou chuva pode estragar o seu evento, caso não esteja preparado.
            </p>
          </article>

          <article>
            <h4>Estrutura</h4>
            <p>
                Lembre-se de garantir que o espaço a ser utilizado possui toda a estrutura necessária:: computadores, projetores de imagem, sonorização, internet e cadeiras suficientes são alguns exemplos. Teste todos os equipamentos em tempo hábil para reposição e, se possível, tenha disponível equipamentos na reserva para o caso de ocorrer algum defeito (lembra do passador de slides que sempre dá problema, né?).
            </p>
            <p>
                A falha de algum item pode comprometer todo o seu evento! Dependendo do porte, é válido, ainda, se preocupar com energia elétrica, tendo geradores à sua disposição!
            </p>
          </article>

          <article>
            <h4>Logística</h4>
                <p>
                    Planeje o seu evento para atender as pessoas com o melhor conforto possível. O porte definirá várias questões com as quais será preciso se preocupar.
                </p>
                <p>
                    Confira 9 pontos que você deve estar atento:
                    <ul class="browser-default">
                        <li>Sinalize os locais importantes. Você não quer participantes perdidos e frustrados por não encontrar o que procuram;</li>
                        <li>Disponibilize banheiros suficientes e higienizados;</li>
                        <li>Para eventos longos, ofereça alimentação e hospedagem (ou indicações) - você terá um bônus se fechar parcerias para os participantes do evento;</li>
                        <li>Indique formas de acesso ao local do evento, seja por meio de transporte público, estacionamentos ou outros;</li>
                        <li>Se necessário, tenha disponível equipes médicas e de segurança;</li>
                        <li>Tenha pessoas de prontidão que possam auxiliar o seu público em caso de dúvidas ou emergências;</li>
                        <li>Tenha atendimento suficiente para evitar filas;</li>
                        <li>Garanta que as pessoas consigam se locomover pelo seu evento adequadamente;</li>
                        <li>Garanta que os horários programados sejam cumpridos, desde o momento de recepcionar palestrantes até o início, fim e intervalos do evento.</li>
                    </ul>
                </p>
              <p>
                  Os detalhes de logística são muito importantes para a satisfação do seu público no evento que você realiza e demonstram o cuidado da organização com quem realmente importa.
              </p>
              <p>
                  Alguns imprevistos podem acontecer, mas planejamento é fundamental até para corrigir as falhas durante o processo. Caso sejam necessárias alterações, busque sempre fazê-las de forma que causem o menor transtorno possível aos participantes. É o momento de construir o seu diferencial.
              </p>
              <p>
                  Lembre-se também que, como dissemos acima, o porte do evento é determinante para a logística do seu evento, principalmente porque um planejamento exagerado pode doer no bolso. Afinal, você (provavelmente) não precisa de um gerador e três ambulâncias para o happy hour do seu escritório, não é mesmo?
              </p>
          </article>

          <article>
            <p>
                Está pronto para colocar a mão na massa? Conta pra gente nos comentários o que mais você faria para cuidar do diferencial do seu evento!
            </p>
            <p>
                Para receber mais dicas como essa cadastre-se <strong><a href="/cadastro">aqui</a></strong> e continue acompanhando nosso blog!
            </p>
          </article>
        </div>

    </div>

</article>
<div class="footer">
    <div class="container center">
        <h4 class="white-text"><strong>ASSINE!</strong> Receba nosso conteúdo em primeira mão e arrase no seu evento!</h4>
        <div class="row">
            <button class="btn-large waves-effect white black-text" ng-click="fazerCadastro()">CADASTRE-SE GRÁTIS</button>
        </div>
    </div>
</div>