<article class="hide-on-med-and-down">
    <section id="image-post">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="/static/images/posts/6passos1.jpg"/>
                </li>
            </ul>
        </div>
    </section>
</article>
<article id="post" class="container">
    <div class="post-container">
        <div class="post-content card-panel col s12 m8 offset-m2">
          <header>
              <h3>Como fazer o primeiro evento da minha empresa</h3>
          </header>
          <article>
            <p>
                Sua empresa precisa se aproximar e se conectar com os seus clientes, fornecedores ou até mesmo com os seus colaboradores? Quando essas situações aparecem, logo vem a ideia de organizar seu evento. Mas sem planejamento, o que poderia ser uma tarefa simples pode se tornar um problema que poderia ser evitado. Por isso, o Se Organizar, Todo Mundo Vai! fez uma série de 6 posts com atividades fundamentais para o seu evento empresarial não virar uma dor de cabeça!

            </p>
            <p>
                Antes de começarmos, é importante ressaltar que, por mais tentador que seja reunir uma grande equipe para distribuir as tarefas, existe a chance de que surjam conflitos nas tomadas de decisão e na forma de trabalhar, podendo resultar em ócio ou sobrecarga em alguma parte da equipe. Por isso, é preciso ter sempre em mente que um time enxuto será mais fácil de coordenar. E menos pode ser mais. Agora, vamos às atividades!
            </p>
          </article>
            <article>
                  <h4>Para quem é o meu evento?</h4>
                <p>
                   Se você escolheu fazer um evento, é provável que já tenha um objetivo claro a ser alcançado. Dessa forma, o primeiro passo será determinar com clareza <strong>QUEM</strong> é o seu público, pois tudo que você definir para o seu evento será para atrair e gerar valor para essas pessoas.
                </p>
                <p>
                    Alguns públicos que você pode focar são:
                </p>
                  <p>
                    <ul class="browser-default">
                        <li>Colaboradores:</li>
                    </ul>
                  </p>
                  <p>
                    Eles fazem a sua empresa andar. Você pode fazer um evento para treinamento, motivação, aumento do engajamento e do entrosamento da sua equipe, além de várias outras ideias.
                  </p>
                  <p>
                    <ul class="browser-default">
                        <li>Fornecedores:</li>
                    </ul>
                  </p>
                  <p>
                    Eles podem ser parte fundamental do seu negócio, por isso, eventos com os fornecedores podem ser importantes para alinhamento de expectativas e treinamento para fornecerem um serviço ou produto cada vez melhor.
                  </p>
                  <p>
                    <ul class="browser-default">
                        <li>Clientes:</li>
                    </ul>
                  </p>
                  <p>
                    Os clientes são a razão de o seu negócio existir. Você pode fazer eventos para gerar valor para sua marca ou para criar uma conexão maior com eles através da entrega de valor, e essa pode ir além do seu produto ou serviço.
                  </p>
                  <p>
                    <ul class="browser-default">
                        <li>Investidores:</li>
                    </ul>
                  </p>
                  <p>
                    Além de participar de feiras de negócios, você pode fazer eventos para apresentar sua empresa a possíveis investidores, mostrando o valor do seu negócio por meio de um diferencial oferecido nesse momento.
                  </p>
                  <p>
                    <ul class="browser-default">
                        <li>Talentos:</li>
                    </ul>
                    <p>
                        Você pode fazer eventos para atrair candidatos para uma vaga na sua empresa ou até mesmo para aproximá-los da sua cultura organizacional, fazendo uma seleção mais assertiva.
                    </p>
                  </p>
                  <p>
                    Você pode criar eventos para os mais diversos públicos com os quais deseja se relacionar e conectar. Mas a grande questão é: o que você pode oferecer para que eles compareçam ao seu evento?
                  </p>
                <p>
                    Para receber mais dicas como essa cadastre-se <strong><a href="/cadastro">aqui</a></strong> e continue acompanhando nosso blog!
                </p>
              </article>
        </div>

    </div>

</article>
<div class="footer">
    <div class="container center">
        <h4 class="white-text"><strong>ASSINE!</strong> Receba nosso conteúdo em primeira mão e arrase no seu evento!</h4>
        <div class="row">
            <button class="btn-large waves-effect white black-text" ng-click="fazerCadastro()">CADASTRE-SE GRÁTIS</button>
        </div>
    </div>
</div>