<article class="hide-on-med-and-down">
    <section id="image-post">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="/static/images/posts/6passos6.jpg"/>
                </li>
            </ul>
        </div>
    </section>
</article>
<article id="post" class="container">
    <div class="post-container">
        <div class="post-content card-panel col s12 m8 offset-m2">
          <header>
              <h3>Formas de viabilizar o evento da sua empresa sem gastar nada</h3>
          </header>
          <article>
            <p>
                A realização de um evento pode esbarrar em alguns problemas financeiros, principalmente quando não são amplamente conhecidos.
            </p>
            <p>
                Antes de o seu público realmente perceber o valor que você entrega, é possível utilizar algumas formas para viabilizar o evento que você tanto espera.
            </p>
            <p>
                Nós separamos 3 dessas formas para torná-lo realidade:
            </p>
          </article>
          <article>
            <h4>Patrocínio</h4>
                <p>
                    Essa talvez seja a maneira mais conhecida de levantar recursos para a realização de um evento. Um patrocínio consiste no investimento financeiro por parte de uma organização ou pessoa.
                </p>
                <p>
                    O mais indicado é a elaboração de uma carta-proposta que descreva de forma clara qual os objetivos do seu evento e qual a contrapartida para o patrocinador.
                </p>
                <p>
                    É comum a definição de cotas, em que são fixados diferentes valores de patrocínio para determinadas contrapartidas. Exemplos variam desde anúncios publicitários junto à divulgação do evento (com inserção de logomarcas, banners, displays de mesa etc) até os famosos <i>naming rights</i>, no qual o nome do patrocinador entra no nome do evento.
                </p>
                <p>
                    Lembre-se de sempre procurar organizações que possuam relação com o seu público-alvo, pois assim você terá muito mais chances de sucesso. Vai organizar uma corrida de rua da sua empresa? Nem pense em chamar uma marca de cigarros para patrociná-la. O ideal seriam marcas ligadas a ideia de promoção de saúde e bem-estar.
                </p>
          </article>

          <article>
            <h4>Apoio</h4>
                <p>
                    O apoio consiste em um investimento por meio de serviços ou produtos que auxiliam na realização de um evento. O apoiador pode ser responsável, por exemplo, pelo fornecimento de lanches, materiais ou infraestrutura aos participantes.
                </p>
                <p>
                    Em contrapartida, ele pode ter a exibição da sua marca durante o evento, além de outras formas de divulgação definidas em negociações. Essas contrapartidas geralmente são relacionadas ao custo que elas representariam ao evento, sendo dessa forma muito semelhante ao patrocínio.
                </p>
          </article>

          <article>
            <h4><i>Crowdfunding</i></h4>
                <p>
                    O <i>crowdfunding</i> (ou financiamento coletivo) é uma modalidade mais recente no levantamento de recursos, mas que ganhou bastante visibilidade nos últimos anos. Está atrelada à conectividade proporcionada pela internet, mas consiste em uma prática bastante antiga, apelidada de “vaquinha”.
                </p>
                <p>
                    Os participantes podem contribuir com uma quantia que, totalizando a meta do custo total do evento, garantem a sua realização. Nessa modalidade também podem ser fixadas diferentes cotas que oferecem alguns diferenciais no acesso ao evento (fila rápida, conteúdo ou material exclusivo, entre outros). Existem inclusive várias plataformas online que permitem a realização de um <i>crowdfunding</i>.
                </p>
                <p>
                    Há ainda plataformas online que ajudam na divulgação digital e análise de resultados do seu evento, como Google Analytics e Facebook Ads. Você também pode utilizar a plataforma da Sympla para realização e gestão de um evento, além da venda de ingressos. Caso seu evento seja gratuito você nem paga pelo serviço. Vale a pena conferir!
                </p>
                <p>
                    Essa foi a série <strong>Passos essenciais para a realização de um evento corporativo</strong>. Você pode conferir outros materiais aqui no nosso blog <i>Se Organizar, Todo Mundo Vai!</i> ou se cadastrar <strong><a href="/cadastro">aqui</a></strong> para receber mais conteúdos como esse!
                </p>
              <p>
                  Deixe nos comentários o que achou do material! O que você costuma fazer além dos passos que contamos? Qualquer dúvida, você pode entrar em contato conosco pelo e-mail <a href="mailto:contato@seorganizareventos.com.br">contato@seorganizareventos.com.br</a>.
              </p>
          </article>
        </div>

    </div>

</article>
<div class="footer">
    <div class="container center">
        <h4 class="white-text"><strong>ASSINE!</strong> Receba nosso conteúdo em primeira mão e arrase no seu evento!</h4>
        <div class="row">
            <button class="btn-large waves-effect white black-text" ng-click="fazerCadastro()">CADASTRE-SE GRÁTIS</button>
        </div>
    </div>
</div>