<article class="hide-on-med-and-down">
    <section id="image-post">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="/static/images/posts/pos-evento.jpg"/>
                </li>
            </ul>
        </div>
    </section>
</article>
<article id="post" class="container">
    <div class="post-container">
        <div class="post-content card-panel col s12 m8 offset-m2">
            <header>
              <h3>O que fazer depois de um evento?</h3>
            </header>
            <article>
                <p>
                    O blog "<i>Se Organizar, Todo Mundo Vai!</i>" traz esse vídeo pra você se orientar com o que fazer no pós-evento para poder melhorar sempre!
                </p>
            </article>
            <article>
                <div align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/xURsgfHAf-M" frameborder="0" allowfullscreen></iframe></div>
            </article>

            <article>
                <p>
                    Curtiu o nosso post? Para receber mais dicas como essa cadastre-se <strong><a href="/cadastro">aqui</a></strong> e continue acompanhando nosso blog!
                </p>
            </article>

        </div>

    </div>

</article>
<div class="footer">
    <div class="container center">
        <h4 class="white-text"><strong>ASSINE!</strong> Receba nosso conteúdo em primeira mão e arrase no seu evento!</h4>
        <div class="row">
            <button class="btn-large waves-effect white black-text" ng-click="fazerCadastro()">CADASTRE-SE GRÁTIS</button>
        </div>
    </div>
</div>