<article class="hide-on-med-and-down">
    <section id="image-post">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="/static/images/posts/evento.jpg"/>
                </li>
            </ul>
        </div>
    </section>
</article>
<article id="post" class="container">
    <div class="post-container">
        <div class="post-content card-panel col s12 m8 offset-m2">
          <header>
              <h3>Os primeiros passos dos produtores de eventos</h3>
          </header>
          <article>
            <p>
                Você tem interesse em organizar seu evento profissionalmente e começar uma carreira como produtor de eventos? Se sim, você já sabe quais os tipos de evento que você pode organizar? Institucional, religioso, acadêmico, artístico, cultural, etc? Conhecer esse mercado é sem dúvida o primeiro passo para começar uma carreira de sucesso nessa área!
            </p>
            <p>
                Para começar, do ponto de vista da organização, eles podem ser: institucionais ou promocionais (comerciais).
            </p>
            <p>
                De forma mais geral, podem ser: folclóricos, cívicos, religiosos, políticos, sociais, artísticos, científicos, culturais, desportivos, técnicos, etc.
            </p>
            <p>
                Abaixo, listamos os principais tipos de eventos enquadrados como comerciais. Conheça:
            </p>

          </article>
          <article>
            <h4>1. Exposições, feiras, salões e mostras</h4>
            <p>
                Todos esses tipos têm como finalidade expor publicamente produtos para divulgar ou vender. Podem ser objetos, fotografias, veículos, animais etc.
            </p>
            <p>
              <ul class="browser-default">
                <li>As exposições são fixas e têm como foco apenas a divulgação dos produtos;</li>
                <li>As feiras são amplas, fixas e têm como objetivo a venda;</li>
                <li>Salões são amplos, fixos e visam divulgar, embora hoje apresentem características de feira;</li>
                <li>Mostras são pequenas, circulantes e visam somente divulgar.</li>
              </ul>
            </p>
          </article>

          <article>
            <h4>2. Conferência/palestra</h4>
            <p>
                Não são necessariamente a mesma coisa, mas têm o mesmo fundamento. São encontros idealizados por uma pessoa, empresa ou entidade, para exposição de um assunto por pessoa reconhecidamente competente. As palestras são destinadas a plateias menores e são muito usadas em meios acadêmicos.
            </p>
          </article>

          <article>
            <h4>3. Simpósio/convenção</h4>
            <p>
                São eventos com a participação de vários palestrantes, com a presença de um mediador. O tema geralmente é científico e, normalmente, se prolonga por mais dias. Ao final, pode-se abrir espaço para perguntas e apresentação de conclusões.
            </p>
          </article>

          <article>
            <h4>4. Congressos</h4>
            <p>
                Possuem uma periodicidade (semestrais, anuais, etc), maior duração (dois a cinco dias) e geralmente estão vinculados a membros de uma associação ou entidade. Seu objetivo principal é atualizar os participantes sobre novidades e mudanças relacionados ao tema. Algumas categorias realizam diversos congressos para seus membros: médicos, advogados, fisioterapeutas, entre outros.
            </p>
          </article>

          <article>
            <h4>5. Seminário</h4>
            <p>
                Encontros com a presença de vários palestrantes, nos quais um determinado tema é desenvolvido de forma mais profunda. A atividade envolve a entrega de um certificado aos participantes e a duração pode variar de acordo com a necessidade do evento, podendo ser de horas ou de dias.
            </p>
          </article>

          <article>
            <h4>6. Workshop</h4>
            <p>
                Nessa modalidade de evento, há intercâmbio entre os participantes. Em geral, há uma parte expositiva, seguida de atividades práticas e interações entre os coordenadores e os participantes.
            </p>
          </article>

          <article>
            <h4>7. Evento esportivo / torneio</h4>
            <p>
                Consiste em modalidades esportivas nas quais os participantes disputam por títulos, medalhas ou prêmios na frente de uma plateia. Pode ser direcionado a atletas profissionais ou amadores. Temos como alguns exemplos as corridas de rua, os campeonatos de natação ou artes marciais e os torneios de tênis.
            </p>
          </article>

          <article>
            <h4>8. Show</h4>
            <p>
                Apresentação artística de música, teatro ou dança. Pode ser famoso ou não.
            </p>
          </article>

          <article>
            <h4>9. Eventos culturais ou de entretenimento (festas!)</h4>
            <p>
                Das 9 definições que o dicionário Aurélio, selecionamos as que mais representam a ideia para eventos culturais e de entretenimento:
                <strong>2</strong> - Dia de regozijo; comemoração.
                <strong>4</strong> - Alegria.
                <strong>6</strong> - Bom acolhimento.
                Normalmente para públicos grandes, podem ser realizados em ambientes abertos ou fechados, ter temas (festa italiana, à fantasia etc), ser em comemoração a uma data específica (Saint Patrick’s Day) e, muitas vezes, trazem na programação artistas em evidência.
            </p>
          </article>

          <article>
            <p>
                Todos esses podem ser eventos gratuitos ou pagos. É o produtor do evento quem vai definir.
            </p>
            <p>
                Vale ressaltar que a magnitude do evento é que vai determinar o investimento necessário, o local e outros itens diretamente relacionados a essa decisão. Por isso, trate de definir seu público alvo tão logo comece a esboçar o projeto do seu evento.
            </p>
            <p>
                Agora que você já sabe como definir o tipo e formato, queremos saber: qual tipo de evento você vai organizar para começar a sua carreira? Deixe nos comentários!
            </p>
          </article>
        </div>

    </div>

</article>
<div class="footer">
  <div class="container center">
    <h4 class="white-text"><strong>ASSINE!</strong> Receba nosso conteúdo em primeira mão e arrase no seu evento!</h4>
    <div class="row">
      <button class="btn-large waves-effect white black-text" ng-click="fazerCadastro()">CADASTRE-SE GRÁTIS</button>
    </div>
  </div>
</div>