<article class="hide-on-med-and-down">
    <section id="image-post">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="/static/images/posts/6passos3.jpg"/>
                </li>
            </ul>
        </div>
    </section>
</article>
<article id="post" class="container">
    <div class="post-container">
        <div class="post-content card-panel col s12 m8 offset-m2">
            <header>
              <h3>Sabe os detalhes legais para seu evento ocorrer? Aprenda agora!</h3>
            </header>
            <article>
                <p>
                    Para organizar um evento há diversos detalhes que precisam ser planejados, incluindo itens legais. Alguns dos mais importantes são: o <b>Alvará de Funcionamento Temporário e o Auto de Vistoria do Corpo de Bombeiros</b>.
                </p>
                <p>
                    Começando pelo <b>Alvará de Funcionamento</b>. Este documento é expedido pelas prefeituras municipais para autorização de eventos temporários, ou seja, a cada evento, um novo documento deve ser emitido. Sem o Alvará, seu evento corre o risco de ser multado, ou até mesmo embargado.
                </p>
                <p>
                    Apesar de aparentar ser algo complicado de se expedir, não é assim como parece. Há empresas especializadas para assessorar na obtenção deste documento e, seguindo este passo a passo, será ainda mais fácil. Lembre-se, é melhor ter certeza que está dentro da lei e com <b>garantias de segurança</b> ao seu público, do que ver todo seu evento indo por água a baixo.
                </p>
                <p>
                    Primeiramente, é importante salientar que cada município possui suas próprias leis, mas, de maneira geral, deve-se solicitar o alvará em torno de 40 dias antes da data do evento (para eventos de grande porte). Existem também taxas municipais aplicáveis. Os documentos também variam, mas em maioria é solicitado:
                    <ol class="browser-default">
                        <li>Requerimento do Alvará (adquirido nas prefeituras);</li>
                        <li>Termo de responsabilidade preenchido e assinado;</li>
                        <li>Contrato e certificado da empresa de segurança contratada com as medidas que serão feitas por ela para deixar o local dentro das normas;</li>
                        <li>Contrato de locação do local (se for um local privado);</li>
                        <li>Laudo Técnico de Segurança e o devido Registro ou Anotação de Responsabilidade Técnica (expedido por profissionais da área, arquitetos ou engenheiros);</li>
                        <li>Cópia de comunicação à Polícia e ao Corpo de Bombeiro da cidade.</li>
                    </ol>
                </p>
                <p>
                    O produtor, no solicitante do alvará, deve levar os seguintes documentos (independentemente do tipo de evento):
                    <ol class="browser-default">
                        <li>Cópias do RG;</li>
                        <li>CPF;</li>
                        <li>Comprovante de residência;</li>
                        <li>Cópia de IPTU do imóvel ocupado pelo solicitante.</li>
                    </ol>
                </p>
                <p>
                    Vale lembrar: os documentos podem variar devido a vários fatores, como tamanho do público, local do evento, número de atrações, fogos de artifício, entre outros. Há municípios que solicitam ainda um croqui do local, com estandes (em casos de feiras) e posicionamento de palco e camarins (em caso de shows).
                </p>
                <p>
                    Já o <b>Auto de Vistoria do Corpo de Bombeiros (AVCB)</b> é um documento que atesta a segurança contra incêndio e pânico de eventos temporários, como espetáculos, feiras, e semelhantes. Ele é emitido junto ao Corpo de Bombeiros de cada estado.
                </p>
                <p>
                    Para conseguir o AVCB, o requerente deve solicitar o documento com 30 dias de antecedência ao evento e apresentar os seguintes documentos:
                    <ul class="browser-default">
                        <li>Cartão de Identificação do evento;</li>
                        <li>Formulário de segurança contra incêndio preenchido;</li>
                        <li>Registro ou Anotação de Responsabilidade Técnica sobre:</li>
                        <ol>
                          <li>lona de cobertura com material retardante de ignição (quando houver);</li>
                          <li>arquibancadas e arenas desmontáveis;</li>
                          <li>brinquedos de parques de diversão;</li>
                          <li>palcos;</li>
                          <li>armações de circos;</li>
                          <li>instalações elétricas;</li>
                          <li>outras montagens mecânicas ou eletroeletrônicas;</li>
                          <li>grupo moto-gerador.</li>
                        </ol>
                        <li> Plantas das medidas de segurança contra incêndio ou croqui contendo as informações necessárias.</li>
                    </ul>
                </p>
                <p>
                    Importante salientar que o AVCB do local onde será realizado o evento deverá estar vigente, caso contrário, o AVCB temporário não será expedido.
                </p>
                <p>
                    Após a solicitação aprovada, o Corpo de Bombeiros irá vistoriar o local, e se de acordo com as plantas ou croquis apresentados, o AVCB é expedido. Algumas taxas são aplicáveis, uma para solicitação do documento e uma para vistoria.
                </p>
                <p>
                    A falta do AVCB coloca em risco a segurança do evento, deixando em xeque a instalação contra incêndio e pânico. Há casos que o Alvará de Funcionamento só é expedido após o protocolo de entrada no AVCB, e a Policia Militar só realiza o patrulhamento (em eventos de locais públicos) com o documento emitido.
                </p>
                <p>
                    Tanto para o Alvará de Funcionamento quanto para o AVCB há empresas especializadas que podem auxiliar na organização da documentação, assinatura dos Registros de Responsabilidade Técnica, elaboração das plantas e croquis, e entrada nos devidos órgãos públicos.
                </p>
            </article>

            <article>
                <p>
                    No ABC paulista, a KC ARQUITETURA urbanismo e design é especialista nesse assunto e pode orientar da melhor forma. Se interessou no assunto? Saiba mais sobre este assunto clicando neste <a href="http://www.kcarq.com/eventos" target="_blank">link</a>!
                </p>
                <p>
                    <b>Autor:</b>  Rafael Amancio Costa, Arquiteto/KC Arquitetura Urbanismo e Design
                </p>
            </article>
        </div>

    </div>

</article>
<div class="footer">
    <div class="container center">
        <h4 class="white-text"><strong>ASSINE!</strong> Receba nosso conteúdo em primeira mão e arrase no seu evento!</h4>
        <div class="row">
            <button class="btn-large waves-effect white black-text" ng-click="fazerCadastro()">CADASTRE-SE GRÁTIS</button>
        </div>
    </div>
</div>