<article class="hide-on-med-and-down">
    <section id="image-post">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="/static/images/posts/6passos2.jpg"/>
                </li>
            </ul>
        </div>
    </section>
</article>
<article id="post" class="container">
    <div class="post-container">
        <div class="post-content card-panel col s12 m8 offset-m2">
          <header>
              <h3>Saiba o que oferecer de diferencial no evento de sua empresa</h3>
          </header>
          <article>
            <p>
                Conhecendo o seu público, é importante oferecer um conteúdo que seja de fato atrativo para ele. Nada pior do que colocar esforços em um momento no qual as pessoas ficam entediadas ou até mesmo não comparecem, não é mesmo? Aqui vão algumas ideias para alguns públicos que podem ser do seu interesse:
            </p>
          </article>
            <article>
                  <p>
                    <ul class="browser-default">
                        <li>Colaboradores:</li>
                    </ul>
                  </p>
                  <p>
                    Essa pode ser uma oportunidade para aproximar a sua equipe para formar um time unido, comemorar uma conquista para gerar engajamento ou até mesmo oferecer aquele treinamento para suprir as necessidades que têm surgido.
                  </p>
                  <p>
                    <ul class="browser-default">
                        <li>Fornecedores:</li>
                    </ul>
                  </p>
                  <p>
                    Muitas vezes os seus fornecedores são peças-chave para o seu negócio, então esse pode ser um momento de aproximação e prospecção para escolher o que mais se encaixa com os seus valores e expectativas. Se você já tem os seus fornecedores definidos, é importante estar bem próximo e alinhado nas tarefas do dia-a-dia, certo? Você pode organizar feiras para que eles exponham propostas de produtos e serviços. Você também pode organizar treinamentos para que eles ofereçam mais valor para a sua empresa.
                  </p>
                  <p>
                    <ul class="browser-default">
                        <li>Clientes:</li>
                    </ul>
                  </p>
                  <p>
                    Para atrair os seus clientes, nada melhor que gerar valor para eles. Treinamentos podem ser uma boa pedida para alcançar os seus objetivos e você pode aproveitar para expor a sua marca com produtos ou serviços. Atrações para entretenimento também podem ser interessantes. O que é preciso ter em mente é o que o seu público gosta. Se você oferecer isso em troca, ele vai estar lá!
                  </p>
                  <p>
                    <ul class="browser-default">
                        <li>Investidores:</li>
                    </ul>
                  </p>
                  <p>
                    Feiras de negócios estão aí e é sempre uma boa opção para quem busca investidores. Mas você também pode ter a iniciativa de organizar a sua exposição: com uma boa proposta, você com certeza pode ter a atenção de quem você busca!
                  </p>
                  <p>
                    <ul class="browser-default">
                        <li>Talentos:</li>
                    </ul>
                    <p>
                        Eventos para atrair talentos para a sua empresa podem ser muito úteis, principalmente para evoluir na comunicação da cultura e dos valores da sua empresa. Se ainda falta algo, para ela estar entre as mais cobiçadas, treinamentos, desafios e premiações podem despertar o interesse que você precisa para recrutar o seu próximo prodígio.
                    </p>
                  </p>
                  <p>
                    Para ser lembrado, é válido trazer palestrantes interessantes que despertem emoções, divertem e agregam conteúdo para a sua audiência. Entenda para quem você está realizando o evento e o que eles valorizam.
                  </p>
                <p>
                    Se você deseja em retorno a aproximação e a conexão com o seu público, lembre-se de primeiro oferecer algo interessante para ele (nem que seja um happy hour fora do convencional)!
                </p>
                <p>
                    O desafio nesse ponto é fazer com que ele entenda o valor que você pretende entregar e, para isso, uma boa comunicação é fundamental.
                </p>
                <p>
                    E aí, já tem uma ideia para o próximo evento da sua empresa? Conta pra gente aqui nos comentários!
                </p>
                <p>
                    Para receber mais dicas como essa cadastre-se <strong><a href="/cadastro">aqui</a></strong> e continue acompanhando nosso blog!
                </p>
              </article>
        </div>
    </div>

</article>
<div class="footer">
    <div class="container center">
        <h4 class="white-text"><strong>ASSINE!</strong> Receba nosso conteúdo em primeira mão e arrase no seu evento!</h4>
        <div class="row">
            <button class="btn-large waves-effect white black-text" ng-click="fazerCadastro()">CADASTRE-SE GRÁTIS</button>
        </div>
    </div>
</div>