body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

nav {
	height: 80px;
}

.nav-wrapper {
	margin: 9px 0px;
}
main {
	flex: 1 0 auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h6 a {
	color: white;
	text-decoration: none;
}


.carousel-item {
	max-height: 800px;
}
.landscape {
    height: 85px;
    width: 120px;
}

.square {
    height: 45px;
    width: 45px;
    margin-top: 0.7rem;
}

.square.logo-icon{
	margin-right: 1.5rem;
}

.sm-square {
    height: 25px;
    width: 25px;
}

.logo {
	margin-left: 1rem;
}

.footer {
	padding: 3rem;
	background-color: #009bdb;
}

article#blog-posts {
	margin-top: 3rem;
	margin-bottom: 3rem;
}
main > .container {
	padding-bottom: 3rem;
}

main .container > .btn-large {
	margin-top: 2rem;
}

.carousel-footer {
	bottom: 0;
	position: absolute;
	width: 100%;
	border: 1px solid;
	height: 40px;
}

.carousel-footer h2{
	margin: 0;
	text-align: left;
}

.modal-lead {
	opacity: 0.8 !important;
}

.modal-lead .button-actions > button{
	margin-bottom: 20px;
}

.blue-1 {
	background-color: #009bdb !important;
}

.blue-1-text {
	color: #009bdb !important;
}

.margin-b-0{
	margin-bottom: 0;
}

.card-image > .card-title{
	width: 100%;
	background: rgba(0,0,0,0.5);
}


/* Post details styles */
#image-post img{
	width: 100%;
	flex-shrink: 0;
}

article#post{
	flex-shrink: 0;
	position: relative;
}
.post-container {
	max-width: 1600px;
	width: calc(100% - 16px);
	margin: 0 auto;
}

.post-content {
	border-radius: 2px;
	padding: 80px 56px;
	margin-bottom: 80px;
	background-color: #fff;
}

.post-content header{
	margin-top: 2rem;
}

.post-content .post-text{
	font-size: 16px;
	font-weight: 400;
}
.post-content.card-panel {
	padding: 3rem;
}

@media only screen and (max-width: 480px){
	.post-content.card-panel {
		padding: 1rem;
	}
}

.post-content-thanks {
	margin: 0.5rem 0 0.5rem 0;
}

/* slider */
.caption {
	padding: 10px;
	border-radius: 10px;
    background: rgba(0,0,0,0.5);
	font-weight: 300;
	font-size: 60px;
}

.indicator-item.active {
	background-color: black !important;
}

/* button-collapse */
.button-collapse{
	color: #009BDB;
}