<article class="hide-on-med-and-down">
    <section id="image-post">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="/static/images/posts/pessoas.jpg"/>
                </li>
            </ul>
        </div>
    </section>
</article>
<article id="post" class="container">
    <div class="post-container">
        <div class="post-content card-panel col s12 m8 offset-m2">
        <header>
            <h3>Sobre</h3>
        </header>
        <p class="post-text">
            Tudo que é preciso saber para <strong><u>garantir o sucesso</u></strong> de um <strong>evento</strong>,você vai encontrar aqui no <strong>Se Organizar, Todo Mundo Vai.</strong>Orientações de especialistas, planilhas e informações indispensáveis para a <strong><u>organização</u></strong> e <strong><u>execução</u></strong> do seu evento.Encante seu público, aumente seus lucros e fortaleça sua marca através das nossas dicas!
        </p>
        </div>

    </div>

</article>
<div class="footer">
    <div class="container center">
        <h4 class="white-text"><strong>ASSINE!</strong> Receba nosso conteúdo em primeira mão e arrase no seu evento!</h4>
        <div class="row">
            <button class="btn-large waves-effect white black-text" ng-click="fazerCadastro()">CADASTRE-SE GRÁTIS</button>
        </div>
    </div>
</div>