<article>
	<section>
		<div class="carousel carousel-slider center" data-indicators="true">
			<a class="carousel-item" href="#"><img src="/static/images/banner.jpg"/></a>
			<a class="carousel-item" href="#"><img src="/static/images/banner.jpg"/></a>
		</div>
	</section>
</article>
<article>
	<section>
		<div class="row">
			<div class="col s8">
				<div class="card horizontal">
					<div class="card-image">
						<img src="http://lorempixel.com/100/190/nature/6">
					</div>
					<div class="card-stacked">
						<div class="card-content">
							<h5>Título da Matéria</h5>
							<h6>Subtítulo da Matéria</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a massa sapien. Vivamus in ligula vitae nisl interdum ultricies. Duis convallis risus sit amet arcu posuere, sed viverra elit dapibus. Nam suscipit convallis vestibulum. Nulla facilisi. Nullam ac scelerisque arcu. Ut convallis interdum urna eu tristique. Duis neque ex, lacinia non ultrices in, consequat et nisi.</p>
						</div>
						<div class="card-action">
							<a href="#">LER MAIS</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col s4">
				<div class="card horizontal">
					<div class="card-image">
						<img src="http://lorempixel.com/100/190/nature/6">
					</div>
					<div class="card-stacked">
						<div class="card-content">
						  <p>I am a very simple card. I am good at containing small bits of information.</p>
						</div>
						<div class="card-action">
						  <a href="#">This is a link</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s6">
				<div class="card horizontal">
					<div class="card-image">
						<img src="http://lorempixel.com/100/190/nature/6">
					</div>
					<div class="card-stacked">
						<div class="card-content">
						  <p>I am a very simple card. I am good at containing small bits of information.</p>
						</div>
						<div class="card-action">
						  <a href="#">This is a link</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col s6">
				<div class="card horizontal">
					<div class="card-image">
						<img src="http://lorempixel.com/100/190/nature/6">
					</div>
					<div class="card-stacked">
						<div class="card-content">
							<h5>Título da Matéria</h5>
							<h6>Subtítulo da Matéria</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a massa sapien. Vivamus in ligula vitae nisl interdum ultricies. Duis convallis risus sit amet arcu posuere, sed viverra elit dapibus. Nam suscipit convallis vestibulum. Nulla facilisi. Nullam ac scelerisque arcu. Ut convallis interdum urna eu tristique. Duis neque ex, lacinia non ultrices in, consequat et nisi.</p>
						</div>
						<div class="card-action">
							<a href="#">LER MAIS</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</article>