<article>
	<section>
		<div class="slider">
			<ul class="slides">
				<li>
					<a href="/posts/10-dicas-para-fazer-o-checklist-do-seu-evento">
						<img src="/static/images/posts/10-dicas.jpg">
						<div class="caption center-align">
							<h3>10 dicas para fazer o checklist do seu evento</h3>
						</div>
					</a>
				</li>
				<li>
					<a href="/posts/os-primeiros-passos-dos-produtores-de-eventos">
						<img src="/static/images/posts/evento.jpg">
						<div class="caption center-align">
							<h3>Os primeiros passos dos Produtores de Eventos</h3>
						</div>
					</a>
				</li>
				<li>
					<a href="/posts/3-dicas-para-nao-desperdicar-tempo-na-organizacao-do-seu-evento">
						<img src="/static/images/posts/checklist.jpg">
						<div class="caption center-align">
							<h3>3 dicas para não desperdiçar tempo na organização do seu evento</h3>
						</div>
					</a>
				</li>
				<li>
					<a href="/posts/aprenda-ja-o-que-fazer-se-tiver-que-cancelar-um-evento">
						<img src="/static/images/posts/cancelar-evento.jpg">
						<div class="caption center-align">
							<h3>Aprenda já o que fazer se tiver que cancelar um evento</h3>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</section>
</article>
<article id="blog-posts" class="container">
	<section>
		<div class="row">
			<div class="col s12 m6 l6">
				<div class="card medium hoverable">
					<div class="card-image">
						<img alt="Aprenda já o que fazer se tiver que cancelar um evento" src="/static/images/posts/cancelar-evento.jpg">
						<span class="card-title">Aprenda já o que fazer se tiver que cancelar um evento</span>
					</div>
					<div class="card-stacked">
						<div class="card-content">
						  	<p>Deu ruim e foi preciso cancelar o evento? O processo não precisa ser doloroso se feito da maneira certa.</p>
						</div>
						<div class="card-action">
						  <a href="/posts/aprenda-ja-o-que-fazer-se-tiver-que-cancelar-um-evento">SAIBA MAIS</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col s12 m6 l6">
				<div class="card medium hoverable">
					<div class="card-image">
						<img alt="3 dicas para não desperdiçar tempo na organização do seu evento" src="/static/images/posts/checklist.jpg">
						<span class="card-title">3 dicas para não desperdiçar tempo na organização do seu evento</span>
					</div>
					<div class="card-stacked">
						<div class="card-content">
						  	<p>Não perca a cabeça organizando os seus eventos! Aqui colocamos o básico para você se preparar adequadamente e criar um momento incrível!</p>
						</div>
						<div class="card-action">
						  <a href="/posts/3-dicas-para-nao-desperdicar-tempo-na-organizacao-do-seu-evento">SAIBA MAIS</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m6 l8">
				<div class="card medium hoverable">
					<div class="card-image">
						<img alt="10 dicas para fazer o checklist do seu evento" src="/static/images/posts/10-dicas.jpg">
						<span class="card-title" >10 dicas para fazer o checklist do seu evento</span>
					</div>
					<div class="card-content">
						<p>
							Fazer um checklist é fundamental para a organização e o sucesso do seu evento. Saiba como fazer aqui!
						</p>
					</div>
					<div class="card-action">
						<a href="/posts/10-dicas-para-fazer-o-checklist-do-seu-evento">SAIBA MAIS</a>
					</div>

				</div>
			</div>
			<div class="col s12 m6 l4">
				<div class="card medium hoverable">
					<div class="card-image">
						<img alt="Os primeiros passos dos Produtores de Eventos" src="/static/images/posts/evento.jpg">
						<span class="card-title" >Os primeiros passos dos Produtores de Eventos</span>
					</div>
					<div class="card-stacked">
						<div class="card-content">
						  	<p>Se você deseja começar uma carreira de produtor de eventos, o essencial para dar o primeiro passo já está disponível para você!</p>
						</div>
						<div class="card-action">
						  <a href="/posts/os-primeiros-passos-dos-produtores-de-eventos">SAIBA MAIS</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</article>
<div class="footer">
	<div class="container center">
		<h4 class="white-text"><strong>ASSINE!</strong> Receba nosso conteúdo em primeira mão e arrase no seu evento!</h4>
		<div class="row">
			<button class="btn-large waves-effect white black-text" ng-click="fazerCadastro()">CADASTRE-SE GRÁTIS</button>
		</div>
	</div>
</div>