<article>
	<section>
		<div class="slider">
			<ul class="slides">
				<li>
					<img src="/static/images/posts/cadastro.jpg" alt="cadastro eventos novidades conteudo assine">
				</li>
			</ul>
		</div>
	</section>
</article>
<article id="post" class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2">
    		<div class="center">
	    		<form name="leadForm" novalidate>
					<div class="center">
						<h3><b>ASSINE!</b></h3>
						<h4>Antes de fazer o download, não se esqueça de cadastrar em nosso site!</h4>

						<div class="switch">
							<label>
								PESSOA FÍSICA
								<input type="checkbox" ng-model="tipo_pessoa">
								<span class="lever"></span>
								PESSOA JURÍDICA
							</label>
						</div>
						<div class="input-field" ng-class="{ 'has-error' : leadForm.name.$invalid && !leadForm.name.$pristine }">
							<input id="nome" name="name" type="text" class="validate" alt="Nome" ng-model="nome" required>
							<label for="nome" class="left-align" data-error="É necessário digitar seu nome!">NOME</label>

						</div>
						<div class="input-field" ng-class="{ 'has-error' : leadForm.email.$invalid && !leadForm.email.$pristine  }" >
							<input id="email" name="email" type="email" class="validate" alt="E-mail" ng-model="email"  required>
							<label for="email" class="left-align" data-error="Digite um e-mail válido!">E-MAIL</label>
						</div>
						<div class="input-field" ng-show="tipo_pessoa">
							<input id="empresa" type="text" alt="Empresa" ng-model="empresa" class="validate">
							<label for="empresa" class="left-align">EMPRESA</label>
						</div>
						<div class="clearfix">
							<button type="submit" ng-click="enviarCadastro()" onclick="window.open('https://mega.nz/#!nxlRUbAT!To5ZJW_fnwsAQjYyMYRUO9mNMXHqCFL1Xo7bTNzN4mI')"  class="btn-large waves-effect waves-light blue-1 right" ng-disabled="leadForm.$invalid">
								ENVIAR
								<i class="material-icons right">send</i>
							</button>
						</div>
					</div>
				</form>
	    	</div>
    	</div>
    </div>
</article>