<article>
	<section>
		<div class="slider">
			<ul class="slides">
				<li>
					<img src="/static/images/posts/thankyou.jpg">
				</li>
			</ul>
		</div>
	</section>
</article>
<article id="post" class="container">
    <div class="post-container">
        <div class="post-content post-content-thanks card-panel col s12 m8 offset-m2">
    	
    		<div class="center blue-1-text">
	    		<h4>OBRIGADO!</h4>
	    		<h5>AGRADECEMOS PELO INTERESSE EM NOSSO CONTEÚDO!</h5>
	    	</div>
    	</div>
    </div>
</article>