<!DOCTYPE html>
<html ng-app="leadBlogApp">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Blog para produtores e Organizadores de Eventos">
	<meta name="keywords" content="produtores de evento organizado, importância de ser organizado em um evento, importância da organização do evento">
	<meta name="author" content="Se Organizar Eventos">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Se organizar, todo mundo vai | Blog para Produtores e Organizadores de Eventos</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<base href="/">
</head>
<body ng-controller="mainController">
	<nav class="grey lighten-4">
		<div class="container">
			<div class="nav-wrapper">
				<a href="/" class="brand-logo black-text">
					<div class="landscape logo">
						<img class="responsive-img" src="/static/images/logo.png" >
					</div>
				</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li>
						<a href="/" class="">
							<div class="square">
								<img class="circle" src="/static/images/symbol.png">
							</div>
						</a>
					</li>
					<li><a class="black-text" href="/">HOME</a></li>
					<li><a class="black-text" href="/sobre">SOBRE</a></li>
					<li><a class="black-text" href="/cadastro">CADASTRE-SE!</a></li>
				</ul>
				<ul id="mobile-demo" class="side-nav">
					<li><a class="black-text" href="/">HOME</a></li>
					<li><a class="black-text" href="/sobre">SOBRE</a></li>
					<li><a class="black-text" href="/cadastro">CADASTRE-SE!</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<main>
		<!-- angular templating -->
		<!-- this is where content will be injected -->
		<div ng-view></div>
		
		<footer class="page-footer black center">
			<div class="container">
				<div class="row margin-b-0">
					<div class="col s12 m4">
						<h6 class="white-text">PARCEIROS</h6>
						<div class="center">
							<div class="landscape">
								<a href="https://www.jn2.com.br/" target="_blank"><img alt="jn2 ecommerce expert" src="/static/images/partner.png"></a>
							</div>
							<div class="landscape">
								<a href="https://www.facebook.com/whitesheep.official/?fref=ts" target="_blank"><img alt="peluzo whitesheep white sheep dj deejay" src="/static/images/white-sheep.png"></a>
							</div>
						</div>
					</div>
					<div class="col s12 m4">
						<h6 class="white-text"><a href="/contact">CONTATO</a></h6>
						<p class="white-text">contato@seorganizareventos.com.br</p>
					</div>
					<div class="col s12 m4">
						<h6 class="white-text">SIGA-NOS</h6>
						<div class="row center">
							<div class="col s6 square">
								<a href="https://www.facebook.com/seorganizartodomundovai/?fref=ts" target="_blank"><img src="/static/images/facebook.png" alt="pagina facebook"></a>
							</div>
							<div class="col s6 square">
								<a href="https://www.youtube.com/channel/UCe-DHUHl01SaXW67qsMhXfQ"  target="_blank"><img src="/static/images/youtube.png" alt="canal youtube"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
    </main>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.min.js"></script>
	<script src="/static/node_modules/angular-google-analytics/dist/angular-google-analytics.min.js"></script>
	<script src="/static/js/app.js"></script>

	<!--<script>-->
		<!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
		<!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
		<!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
		<!--})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->

		<!--ga('create', 'UA-93553744-1', 'auto');-->
		<!--ga('send', 'pageview');-->

	<!--</script>-->

</body>
</html>